@page "/create"

@rendermode InteractiveServer

@inject BlazorApp2.Data.AppDbContext AppDBContext
@inject NavigationManager NavigationManager

<h3>Create a new Reservation</h3>

<EditForm Model="reservation" OnSubmit="HandleSubmit">
    
    <div class="mb-3">
        <label class="form-label">Customer Name</label>
        <InputText class="form-control" @bind-Value="reservation.Customer" />
    </div>    
    
    <div class="mb-3">
        <label class="form-label">Date</label>
        <InputDate class="form-control" @bind-Value="reservation.Date" />
    </div>    
    
    <div class="mb-3">
        <label class="form-label">People Count</label>
        <InputNumber class="form-control" @bind-Value="reservation.PeopleCount" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</EditForm>

@code {
    private Reservation reservation = new Reservation();

    private void HandleSubmit()
    {
        AppDBContext.Reservations.Add(reservation);
        AppDBContext.SaveChanges();
        
        NavigationManager.NavigateTo("/");
    }

}